@import url("https://use.typekit.net/aau7wra.css");



body {
  font-family: , sans-serif;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-family: aktiv-grotesk-extended, sans-serif;

}

#categories {
  font-weight: 300;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.65em;
}


figcaption {
    font-size: 0.75em;
    font-style: italic;
}
